/POO_P1_PRACT7_CREACION DE CLASES/nbproject/private/
/POO_P1_PRACT7_CREACION DE CLASES/build/
/POO_P1_PRACT8_OPERACIONES/nbproject/private/
/POO_P1_PRACT8_OPERACIONES/build/
/POO_P1_PRACT9_METODO_ENTRADA_VALORES/nbproject/private/
/POO_P1_PRACT9_METODO_ENTRADA_VALORES/build/
/POO_P1_LAB3_METODOS_GET/nbproject/private/
/POO_P1_LAB3_METODOS_GET/build/
/POO_P1_EVALUACION_1/nbproject/private/
/POO_P1_EVALUACION_1/build/
/POO_P1_PRACT10_MATH/nbproject/private/
/POO_P1_PRACT10_MATH/build/
/POO_P1_PRACT11_STRINGBUILDER/nbproject/private/
/POO_P1_PRACT11_STRINGBUILDER/build/
/POO_P1_PRACT12_ARREGLO NOTAS/nbproject/private/
/POO_P1_PRACT12_ARREGLO NOTAS/build/
/POO_PROYECTO_S2/nbproject/private/
/TEST_INTERFACES_VISUALES/nbproject/private/
/TEST_INTERFACES_VISUALES/build/
/POO_P1_PRACT13_ARREGLO/nbproject/private/
/POO_P1_PRACT13_ARREGLO/build/
/TEST_ESTUDING/nbproject/private/
/TEST_ESTUDING/build/
/EVALUACION_U1_ERICK_GOMEZ/nbproject/private/
/EVALUACION_U1_ERICK_GOMEZ/build/
/POO_G2_PROYECTO_G2_APACHE/nbproject/private/
/POO_P2_PRACT3_TRY-CATCH BUFFER/nbproject/private/
/POO_P2_PRACT3_TRY-CATCH BUFFER/build/
/POO_P2_PRACT4_TRY-CATCH LEER ARCHIVOS/nbproject/private/
/POO_P2_PRACT4_TRY-CATCH LEER ARCHIVOS/build/
/POO_P2_PRACT5_FILES/nbproject/private/
/POO_P2_PRACT5_FILES/build/
/POO_P2_PRACT6_FILEUSER/nbproject/private/
/POO_P2_PRACT6_FILEUSER/build/
/POO_P2_PRACT7_HERENCIA/nbproject/private/
/POO_P2_PRACT7_HERENCIA/build/
/POO_P2_PRACT8_PERSONA/nbproject/private/
/POO_P2_PRACT8_HERENCIA_REPASO/nbproject/private/
/POO_P2_PRACT8_HERENCIA_REPASO/build/
/POO_P2_PRUEBA1_PERIMETRO/nbproject/private/
/POO_P2_PRUEBA1_PERIMETRO/build/
/POO_P2_PRUEBA_Polimorfismo/nbproject/private/
/POO_P2_PRUEBA_Polimorfismo/build/
/POO_TEST_IMAGETERMINAL/nbproject/private/
/POO_TEST_CAMPEONATO/nbproject/private/
/POO_TEST_CAMPEONATO/build/
/POO_P2_TALLER_GESTION_HORARIO/nbproject/private/
/POO_P2_PRACT_10/nbproject/private/
/POO_P2_PRACT_10/build/
/POO_P2_PRACT11/nbproject/private/
/POO_P2_PRACT11/build/
/POO_P2_PRACT12_CUENTAMONEY/nbproject/private/
/POO_P2_PRACT12_CUENTAMONEY/build/
/POO_P2_TALLER_GESTION_HORARIO/build/
/POO_P2_EVALUACION_CORRECCION/nbproject/private/
/POO_P2_EVALUACION_CORRECCION/build/
/POO_P2_PRACT13_CLASES ABSTRACTAS/nbproject/private/
/POO_P2_PRACT14_INTERFACES/nbproject/private/
/POO_P2_PRACT14_INTERFACES/build/
/POO_P2_PRACT16_POLIMORFISMO/nbproject/private/
/POO_P2_PRACT16_POLIMORFISMO/build/
/POO_P2_LAB_EMPLEADOS/build/
/POO_P2_LAB_EMPLEADOS/nbproject/private/
/POO_P2_LAB2_JERARQUIA_PRODUCTOS/nbproject/private/
/POO_P2_LAB2_JERARQUIA_PRODUCTOS/build/
/POO_P2_PROYECT_MANAGE_MONEY_ALFA5/POO_S2_PROJECT_G2/nbproject/private/
/POO_P2_PROYECT_MANAGE_MONEY_ALFA5/POO_S2_PROJECT_G2/build/
/POO_P2_PRACTICA_ARCHIVOS/nbproject/private/
/POO_P2_PRACTICA_ARCHIVOS/build/
/POO_P2_TUTORIA3/nbproject/private/
/POO_P2_TUTORIA3/build/
/POO_U2_T3/nbproject/private/
/POO_U2_T3/build/
/POO_U2_T4_POLIMORFISMO/nbproject/private/
