/POO_P1_PRACT7_CREACION DE CLASES/nbproject/private/
/POO_P1_PRACT7_CREACION DE CLASES/build/
/POO_P1_PRACT8_OPERACIONES/nbproject/private/
/POO_P1_PRACT8_OPERACIONES/build/
/POO_P1_PRACT9_METODO_ENTRADA_VALORES/nbproject/private/
/POO_P1_PRACT9_METODO_ENTRADA_VALORES/build/
/POO_P1_LAB3_METODOS_GET/nbproject/private/
/POO_P1_LAB3_METODOS_GET/build/
/POO_P1_EVALUACION_1/nbproject/private/
/POO_P1_EVALUACION_1/build/
/POO_P1_PRACT10_MATH/nbproject/private/
/POO_P1_PRACT10_MATH/build/
/POO_P1_PRACT11_STRINGBUILDER/nbproject/private/
/POO_P1_PRACT11_STRINGBUILDER/build/
/POO_P1_PRACT12_ARREGLO NOTAS/nbproject/private/
/POO_P1_PRACT12_ARREGLO NOTAS/build/
/POO_PROYECTO_S2/nbproject/private/
/TEST_INTERFACES_VISUALES/nbproject/private/
/TEST_INTERFACES_VISUALES/build/
/POO_P1_PRACT13_ARREGLO/nbproject/private/
/POO_P1_PRACT13_ARREGLO/build/
/TEST_ESTUDING/nbproject/private/
/TEST_ESTUDING/build/
/EVALUACION_U1_ERICK_GOMEZ/nbproject/private/
/EVALUACION_U1_ERICK_GOMEZ/build/
